/* Global Styles */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.page-header {
	border-bottom: 0;
	margin-top: 0;
}

/* Notification Styles */
#flash-container {
  position: fixed;
  top: 0;
  left: 40%;
  z-index: 99999;
  margin: 0;
}

.alert-box-fixed {
  margin: 0;
  text-align: center;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f2f2f2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar {
    width: 250px;
}

#content{
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #content {
    position: absolute;
    margin-right: -250px;
}

label {
    font-weight: bold;
}

.trumbowyg-box .trumbowyg-editor {
    background-color: #f8f9fa;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.nav-link:focus, .nav-link:hover, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    /*background-color: rgba(0,0,0,0.3)!important;*/
    background-color: #28a745ad!important;
    color: white!important;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #17a2b8!important;
}